@media (min-width: 1024px) {
    nav {
        display: none;
    }
    
    .actual-menu {
        display: flex;
        background: #ffffff4d;
        box-shadow: none;
        transition: all .3s ease;
        width: 100%;
        z-index: 1000;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        position: fixed;
        top: 0;
        text-align: center;
    }

    .actual-menu img {
        width: auto;
        height: 30px;
        margin: 5px 10px;
    }

    .actual-menu p {
        display: inline;
        font-size: 1rem;
    }

    .actual-menu ul {
        display: flex;
        width: 100%;
    }

    .actual-menu ul a {
        margin: 0 auto;
        list-style: none;
        color: #000000;
        text-decoration: none;
        transition: all .3s ease;
    }

    .actual-menu a:hover {
        text-shadow: 0 0 15px #fff;
    }

    a {
    color: #fdfdfd;
    }

    .ham-menu {
        display: none;
    }

    .header {
        border-radius: 50px;
    }

    .header p {
        border-radius: 25px;
        width: fit-content;
        margin: 20px auto
    }

    .header .img {
        width: fit-content;
        margin: 30px auto;
    }

    .img img {
        height: 300px;
    }

    .small-container {
        padding: 10px;
        width: 30%;
        margin: 0 auto;
    }

    .other {
        display: flex;
        justify-content: space-evenly;
    }

    .other h2 {
        width: 25%;
        margin: auto;
        height: fit-content;
        padding: 20px;
        color: #00143ac0;
    }

    .showcase-after img {
        width: 60%;
        margin: 20px;
    }

    .showcase-group {
        display: flex;
        justify-content: space-evenly;
    }

    .showcase-group video {
        width: 60%;
        height: auto;
        margin: 20px;
    }

    .showcase-group video:last-child {
        display: none;
    }

    .showcase-group-1 {
        margin: auto;
        width: 30%;
    }

    .showcase-group-link {
        font-size: 2rem;
    }

    
    .container {
        width: 80%;
        margin: 20px auto;
    }

    .grid {
        display: none;
    }

    .grid-desktop {
        display: inline-block;
    }

    .grid-desktop img {
        margin: 10px auto;
        width: auto;
        height: 250px;
    }

    .head {
        width: 20%;
    }

    .content {
        display: flex;
    }

    .content p {
        width: 27%;
        margin: 20px auto;
    }

    .wcu .content img {
        margin: 20px;
        opacity: 80%;
    }

    .content h2, .content h1 {
        color: #000000bb;
    }

    .wcu .content {
        width: 30%;
        margin: 20px auto;
        display: flex;
    }

    .flex2 {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    }

    .content-box {
        display: flex;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    }

    .main {
        width: 30%;
    }

    .form img {
        transition: all .3s ease;
    }

    .form img:hover {
    box-shadow: inset 13px 13px 26px #b7afda, inset -13px -13px 26px #e3f2fd;
    }
}