html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scrollbar-width: none;
    font-size: 16px;
}

body {
    background: #def0ff;
    color: #000;
    overflow-x: hidden;
}

p {
    font-weight: 300;
    font-size: 1.3rem;
}

h2 {
    font-size: 1.5rem;
    margin: 0 8px;
    font-weight: 300;
}

#gradient {
    background: linear-gradient(145deg, #356a96, #000044, #000000);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 3rem;
}

hr {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.loader {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    background: #def0ff;
    animation: 3.5s exit forwards;
    z-index: 1000;
}

/* nav-bar-section */
nav {
    padding: 0.7rem;
    background-color: #ffffff57;
    box-shadow: 0 0 15px #00000070;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
}

.actual-menu {
    display: none;
}

.ham-menu {
    height: 40px;
    width: 40px;
    margin-left: auto;
    position: relative;
    z-index: 100;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    z-index: 1000;
}

.ham-menu span:nth-child(1) {
    top: 25%;
    background-color: #000086;
}

.ham-menu span:nth-child(2) {
    background-color: #0000ff;
}

.ham-menu span:nth-child(3) {
    top: 75%;
    background-color: #000;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
    width: 200%;
    height: 100%;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

a {
    list-style: none;
    text-decoration: none;
    color: #000;
}

.off-screen-menu {
    background-color: #ffffff57;
    box-shadow: 0 0 25px #000000c5;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    height: 50vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    padding-top: 20%;
    top: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    transition: .3s ease;
    z-index: 10;
    opacity: 0;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.off-screen-menu.active {
    right: 0;
    top: 0;
    opacity: 100%;
}

.off-screen-menu ul {
    font-size: 2rem;
    list-style: none;
    text-align: center;
    padding: 0;
}

.off-screen-menu ul li {
    margin: 20% 0;
    text-decoration: none;
    background: linear-gradient(135deg, #000086, #0000ff, #000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-heading {
    margin: auto;
    padding: 0;
    height: fit-content;
    width: 100%;
    text-align: center;
}

.intro-heading p {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    display: inline-block;
    margin: 0 5px;
    opacity: 0;
    animation: 2.4s fadeIn forwards;
}

#i {
    animation-delay: 0.2s;
}

#ii {
    animation-delay: 0.3s;
}

#iii {
    animation-delay: 0.4s;
    font-weight: 645;
    background: linear-gradient(135deg, #919191, #0000ff, #000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#iv {
    animation-delay: 0.6s;
}

#v {
    animation-delay: 0.8s;
    font-weight: 645;
    background: linear-gradient(135deg, #919191, #0000ff, #000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#vi {
    animation-delay: 1s;
}

@keyframes fadeIn {
    0% {
        transform: translateY(80%);
        opacity: 0%;
    }

    15% {
        transform: translateY(0%);
        opacity: 100%;
    }

    85% {
        transform: translate(0%);
        opacity: 100%;
    }
    
    100% {
        transform: translateY(-80%);
        opacity: 0%;
    }
}
@keyframes exit {
    0% {
        opacity: 100%;
    }

    90% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}

.video-container {
    top: 0;
    left: 0;
    height: 600px;
    width: 100%;
    z-index: 0;
}

.video-container video {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    background: linear-gradient(#def0ff00, #def0ff , #def0ff, #def0ff, #def0ff);
}

.header p {
    color: #fff;
    font-size: 1.5rem;
    margin: 20px 10px;
    background: linear-gradient(145deg, #356a96, #0000ff, #000);
    padding: 0.5rem 1rem;
    border-radius: 30px;
}

.header h1 {
    background: linear-gradient(135deg, #919191, #000086, #000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.header img {
    height: 10rem;
    width: auto;
    margin-bottom: 1rem;
    border-radius: 50%;
    border: 2px solid #def0ff;
}

.group-img {
    width: 100%;
    height: auto;
    padding: 20px;
}

.group-img img {
    width: 100%;
    height: auto;
}

.container {
    background: linear-gradient(#000000, #00001d, #000044);
    color: white;
    padding: 50px 5px;
    text-align: center;
}

.grid {
    display: inline-block;
    position: relative;
    max-width: 600px;
    margin: 50px auto;
    overflow: hidden;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.fade {
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.showcase {
    padding: 1rem 10px;
    display: flex;
}

.small-container {
    padding: 1px 8px;
    box-shadow: 0 3px 10px #000000a6;
    width: 39%;
    height: auto;
    margin: 10px auto;
    border-radius: 20px;
    background: #00001d;
}

.small-container h1 {
    font-size: 1.5rem;
    font-weight: 900;
    background: linear-gradient(145deg, #ffffff, #47acff, #4d4dff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.showcase-after {
    background: linear-gradient(#def0ff, #000086, #000000);
    padding: 10px 5px;
    color: #fff;
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.showcase-after h2 {
    margin: 20px 0;
}

.showcase-after img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    justify-content: center;
    box-shadow: 0 3px 15px #000000a6;
}

.showcase-after video {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

.about {
    padding: 20px 10px;
    text-align: justify;
    background: #000044;
    margin-bottom: 4rem;
}

.head h1 {
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
}

.end {
    border: 1px solid #fff;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding: 0 20px;
    border-radius: 30px;
}

.end h1 {
    font-size: 35px;
    background: linear-gradient(145deg, #ffffff, #47acff, #4d4dff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.about h1 {
    border-radius: 20px;
    padding: 20px 0;
}

.about p {
    color: #fff;
}

.wcu {
    margin: 100px 0;
}

.wcu .content h2 {
    color: #1a1a1a;
}

.programs {
    padding: 40px 5px;
    background-color: #bfd3e4;
    text-align: center;
}

.content-box {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #000;
}

.contact {
    padding: 30px 5px;
    background: #00001d;
    color: #fff;
}

.form {
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-radius: 30px;
}

.form img {
    height: 55px;
    width: auto;
    margin: 0 auto;
    backdrop-filter: drop-shadow(0 0 10px #def0ff);
}

footer {
    width: 100%;
    background: #000;
    margin: 0;
    padding: 0;
    color: #def0ff;
    text-align: center;
    position: relative;
    top: auto;
    bottom: 0;
    padding: 1px;
}

footer p {
    font-size: 16px;
}

footer a {
    color: #ff0000;
}

@media (min-width: 1024px) {
    nav {
        display: none;
    }

    .actual-menu {
        display: flex;
        padding: 20px 0;
        background: #ffffff57;
        box-shadow: 0 0 15px #00000070;
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        display: flex;
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
    }
    
    .actual-menu ul {
        margin: 0 auto;
        display: flex;
        width: 80%;
    }
    
    .actual-menu ul li {
        margin: 0 auto;
        list-style: none;
        font-size: 1.3rem;
        padding: 10px;
        border-radius: 100%;
        transition: all .3s ease-out;
    }
    
    .actual-menu ul li:hover {
        background: linear-gradient(45deg, #356a9675, #0000ff6e, #00000075);
        border-radius: 30px;
    }
    
    .actual-menu ul li a {
        color: #000044;
    }

    .ham-menu {
        display: none;
    }

    .header {
        padding: 0 10rem;
    }

    .header p {
        padding: 2rem 0;
        width: fit-content;
        padding: 1rem;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .header img {
        height: 20rem;
        width: auto;
    }

    .showcase-after img {
        margin: 70px 0;
    }

    .showcase-after h2 {
        font-size: 2rem;
    }

    .small-container {
        text-align: center;
    }

    .small-container h1 {
        font-size: 3rem;
    }

    footer {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 30%;
    }

    .content {
        width: 70%;
        margin: 0 auto;
    }

    .content-box {
        width: 70%;
        margin: 0 auto;
    }

    .showcase-after img {
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .showcase-after video {
        height: 50rem;
        width: auto;
    }

    .grid {
        max-width: 800px;
    }

    .slide img {
        width: 40rem;
        height: auto;
    }
}
