html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scrollbar-width: none;
    font-size: 16px;
}

body {
    background: #c3e1fc;
    color: #000;
    overflow-x: hidden;
}

p {
    font-weight: 300;
    font-size: 1.3rem;
}

h2 {
    font-size: 1.5rem;
    margin: 0 8px;
    font-weight: 300;
}

#gradient {
    background: linear-gradient(145deg, #356a96, #000044, #000000);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 3rem;
    animation: 3s spin infinite;
}

#nrm-gradient {
    background: linear-gradient(145deg, #85effd, #47acff, #1f1f7a);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

hr {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #000;
    color: #000;
}


/* main styles */
.loader {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    background: #c3e1fc;
    animation: 3.5s exit forwards;
    z-index: 1000;
}

.intro-heading {
    margin: auto;
    padding: 0;
    height: fit-content;
    width: 100%;
    text-align: center;
}

.intro-heading p {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    display: inline-block;
    margin: 0 5px;
    opacity: 0;
    animation: 2.4s fadeIn forwards;
}

#i {
    animation-delay: 0.2s;
}

#ii {
    animation-delay: 0.3s;
}

#iii {
    animation-delay: 0.4s;
    font-weight: 645;
    background: linear-gradient(145deg, #356a96, #000044, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#iv {
    animation-delay: 0.6s;
}

#v {
    animation-delay: 0.8s;
    font-weight: 645;
    background: linear-gradient(145deg, #356a96, #000044, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#vi {
    animation-delay: 1s;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h2 {
    color: #1a1a1a;
}

/* nav-bar-section */
nav {
    padding: 0.7rem;
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: fit-content;
    margin: 0;
    /* gradient */
    backdrop-filter: blur(50px) saturate(150%);
    -webkit-backdrop-filter: blur(50px) saturate(150%); /* Safari support */
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3); /* “light leaking through” effect */
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

.ham-menu {
    height: 35px;
    width: 35px;
    margin-left: auto;
    position: relative;
    z-index: 100;
}

.ham-menu span {
    height: 2px;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    z-index: 1000;
    background: #000000;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(4) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    opacity: 0;
}

.ham-menu.active span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.ham-menu.active span:nth-child(4) {
    opacity: 0;
}

.off-screen-menu {
    height: fit-content;
    width: 100%;
    position: fixed;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    z-index: 10;
    box-shadow: 13px 13px 26px #bebebe, -13px -13px 26px #ffffff;
    text-align: center;
    background: #c3e1fc;
    color: #03030391;
    cursor: pointer;
    transition: all 0.3s ease;
    pointer-events: none;
    transform: translateY(-450px);
    padding-top: 50px;
}

.off-screen-menu.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.off-screen-menu ul {
    font-size: 1.5rem;
    list-style: none;
    text-align: left;
    padding: 0;
}

.off-screen-menu ul li {
    margin: 30px auto;
    width: 50%;
    box-shadow: 13px 13px 26px #b7afda, -13px -13px 26px #e3f2fd;
    text-align: center;
    background: #c3e1fc;
    color: #03030391;
    padding: 10px;
    border-radius: 30px;
}

.actual-menu {
    display: none;
}

.off-screen-menu ul a{
    color: #000000c4;
    text-decoration: none;
}


/* hero section */

.header {
    position: relative;
    height: auto;
    z-index: 1;
    background: url(images/math2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 80px 0 0 0;
    border-radius: 20px;
    width: 100%;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .5s, transform .5s;
}

.header.show {
    opacity: 1;
    transform: translateY(0);
}

.header p {
    color: #f6f9fd;
    font-size: 1.5rem;
    margin: 20px;
    background: linear-gradient(145deg, #031522b0, #0f2e4681, #177bc738);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.header h1 {
    background: linear-gradient(145deg, #1893ff, #6995b8, #69b5f0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    margin: 0 30px;
    padding: 0;
    text-align: center;
}

.header .img {
    width: fit-content;
    margin: 30px auto;
}

.blur {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 15px 0;
    border-radius: inherit;
    background: #051522ab;
}

.img img {
    height: 150px;
    width: auto;
    border-radius: 50%;
    filter: drop-shadow(0 0 30px #000);
}

.showcase-after {
    padding: 0 5px;
    color: #fff;
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.other h2 {
    margin: 20px auto;
    width: 80%;
    border-radius: 20px;
    padding: 20px;
    box-shadow: inset 13px 13px 26px #b7afda, inset -13px -13px 26px #e3f2fd;
}

.other img {
    width: 90%;
    height: auto;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    justify-content: center;
    box-shadow: 0 3px 15px #000000a6;
}

.showcase-group-link {
    font-size: 1.2rem;
    width: fit-content;
    color: #fff;
    background: linear-gradient(145deg, #5ea2da, #86c9ff, #356a96);
    box-shadow: 0 0 10px #0000004f;
    padding: 10px;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 40px;
    animation: 3s bounce infinite;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .5s, transform .5s;
}

.showcase-group-link.show {
    opacity: 1;
    transform: translateY(0);
}

.showcase-group video {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0 3px 15px #000000a6;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .5s, transform .5s;
}

.showcase-group video.show {
    opacity: 1;
    transform: translateY(0);
}

.showcase-group video:first-of-type {
    display: none;
}

.showcase-group-link:hover {
    border-radius: 5px;
}

.small-container {
    padding: 1px 8px;
    box-shadow: 0 3px 10px #000000a6;
    width: 50%;
    height: auto;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 13px 13px 26px #b7afda, -13px -13px 26px #e3f2fd;
    text-align: center;
    background: #c3e1fc;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .5s, transform .5s;
}

.small-container.show {
    opacity: 1;
    transform: translateY(0);
}

.small-container h1 {
    font-size: 1.2rem;
    font-weight: 900;
    background: linear-gradient(145deg, #7ab3df, #1e4664, #177bc7);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 100%;
}

.small-container img {
    margin: 2px auto;
    height: 60px;
    width: auto;
    opacity: 80%;
}

.showcase {
    padding: 1rem 10px;
    display: flex;
}

.container {
    margin: 20px auto;
    width: 80%;
    border-radius: 20px;
    box-shadow: 13px 13px 26px #b7afda, -13px -13px 26px #e3f2fd;
    padding: 50px 5px;
    text-align: center;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .5s, transform .5s;
}

.container.show {
    opacity: 1;
    transform: translateY(0);
}

.grid {
    display: inline-block;
    position: relative;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    height: 300px;
}

.grid-desktop {
    display: none;
}

.grid-desktop img {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .5s, transform .5s;
}

.grid-desktop.show {
    opacity: 1;
    transform: translateY(0);
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.fade {
    animation: fade 1s ease-in-out;
}

.about {
    padding: 20px;
    text-align: left;
    margin: 100px 0;
    background: #b7afda;
}

.head {
    margin: 40px auto;
    width: 80%;
    border-radius: 20px;
    box-shadow: 13px 13px 26px #746d94, -13px -13px 26px #e3f2fd;
    padding: 5px;
    text-align: center;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .5s, transform .5s;
}

.head.show {
    opacity: 1;
    transform: translateY(0);
}

.head h1 {
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
}

.about h1 {
    border-radius: 20px;
}

.about p {
    color: #000;
}

.content p {
    margin: 40px auto;
    width: 85%;
    border-radius: 20px;
    box-shadow: 13px 13px 26px #746d94, -13px -13px 26px #e3f2fd;
    padding: 20px;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .5s, transform .5s;
}

.content.show {
    opacity: 1;
    transform: translateY(0);
}

.content img {
    width: 100%;
    border-radius: 10px;
    height: auto;
    margin: 10px auto;
    margin-bottom: 0;
}

.content2 h2 {
    font-size: 1.3rem;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: 0 auto;
}

.wcu {
    margin: 100px 0;
    width: 100%;
}

.wcu .content {
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 13px 13px 26px #746d94, -13px -13px 26px #e3f2fd;
}

.wcu .content img {
    width: 50px;
    height: auto;
}

.programs {
    padding: 40px 5px;
    background-color: #bfd3e4;
    text-align: center;
}

.content-box {
    margin: 0 10px;
    padding: 10px;
    background: url(images/math4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .5s, transform .5s;
}

.content-box.show {
    opacity: 1;
    transform: translateY(0);
}

.main {
    background: #bfd3e48c;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin: 20px auto;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .5s, transform .5s;
}

.main.show {
    opacity: 1;
    transform: translateY(0);
}

.main h2 {
    font-weight: 600;
}

.contact {
    padding: 30px 5px;
    color: #000;
}

.end {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding: 0 20px;
    border-radius: 30px;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .5s, transform .5s;
}

.end.show {
    opacity: 1;
    transform: translateY(0);
}

.end h1 {
    font-size: 35px;
}

.form {
    display: flex;
    width: 80%;
    margin: 10px auto;
    border-radius: 40px;
    box-shadow: 13px 13px 26px #b7afda, -13px -13px 26px #e3f2fd;
    text-align: center;
    background: #c3e1fc;
    padding: 20px;
    justify-content: space-evenly;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .5s, transform .5s;
}

.form.show {
    opacity: 1;
    transform: translateY(0);
}

.form img {
    height: 45px;
    padding: 10px;
    width: auto;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 13px 13px 26px #b7afda, -13px -13px 26px #e3f2fd;
    text-align: center;
    background: #c3e1fc;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .5s, transform .5s;
}

.form img.show {
    opacity: 1;
    transform: translateY(0);
}

footer {
    width: 100%;
    background: #00001d;
    margin: 0;
    padding: 0;
    color: #def0ff;
    text-align: center;
    position: relative;
    top: auto;
    bottom: 0;
    padding: 1px;
}

footer p {
    font-size: 13px;
}

footer a {
    color: #ff8800;
}
